@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

:root {
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(185, 75%, 39%)
   
}

.background-image-top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px; 
    height: 300px; 
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: cover;
    transform: rotate(-180deg);
    
}

.background-image-bottom-left {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px; 
    height: 300px; 
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: cover; 
    

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    position: absolute;
    width: 300px; 
    padding: 0px 0px 20px 0px;
    background-color: #ffffff; 
    border-radius: 8px;
    text-align: center;
   
    
}


.topo {
    width: 300px;
    border-radius: 6px 6px 0 0;
    
}

.foto {
    display: inline-block;
    border-radius: 50%;
    margin-top: -50px;
}

.profile-name{
    margin: 10px 0 10px 0;
    font-weight: 700;
}

.country{
    color: gray;
    font-size: 15px;
    
}

span{
    color: gray;
}

.numeros {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid rgb(210, 210, 210);
    padding-top: 10px;
    justify-content: space-around;
    object-fit: cover;

}

.stats-number{
    text-decoration: solid;
    color: black;
    font-weight: bold;
}

.stats-label{
    color: gray;
    font-size: 10px;
}